@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.clock {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  font-family: 'Roboto Mono', monospace;
  font-size: 40px;
  color: rgb(38, 27, 70);
}
