body {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
}
* {
  box-sizing: border-box;
}

.App {
  position: relative;
  width: 100%;
  height: 100%;
}

.App .page {
  position: relative;
  width: calc(100% - 78px);
  height: 100%;

  left: 78px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: darkgray;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
